In [1]:
#l1
#1 Python is a programming language whereas Jupyter is an environment in which we can write and run its code

In [2]:
#2 4k monitors are 3840 pixels wide and 2160 pixels tall
width = 3840
height = 2160

In [5]:
#3
width

3840

In [6]:
#3
height

2160

In [7]:
#4
total_pixels = height*width

In [8]:
total_pixels

8294400

In [9]:
#5
type(total_pixels)

int

In [11]:
#6
first_name = 'Ali'
last_name = 'Jumani'
first_name + ' ' + last_name

'Ali Jumani'

In [13]:
#7
mystery = [{'abc': 'def'}]

In [14]:
type(mystery)

list

In [16]:
#8
type(mystery[0])

dict

In [17]:
#9
import pandas as pd
df = pd.DataFrame([['Coffee', 310], ['Tea', 90]],
 columns=['beverage', 'caffeine'])

In [18]:
type(df)

pandas.core.frame.DataFrame

In [23]:
#10
#The first argument is list containing two list
#The second one is a list

pandas.core.frame.DataFrame

In [24]:
#11
del pd

In [ ]:
df = pd.DataFrame([['Coffee', 310], ['Tea', 90]],
 columns=['beverage', 'caffeine'])

In [26]:
#12
import pandas as pd
type(pd)

module

In [104]:
#l2
#1
import pandas as pd
df = pd.read_csv('C:/Users/aijum/Downloads/planes.csv')

In [105]:
#2
df.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [106]:
#3
df.shape
#it has 3323 rows and 9 columns

(3322, 9)

In [107]:
#3
df.index
#index starts from 0

RangeIndex(start=0, stop=3322, step=1)

In [108]:
#3
df.columns
# Name of the columns

Index(['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats',
       'speed', 'engine'],
      dtype='object')

In [109]:
#4
df.dtypes

tailnum          object
year            float64
type             object
manufacturer     object
model            object
engines           int64
seats             int64
speed           float64
engine           object
dtype: object

In [110]:
#5
year = df['year']

In [111]:
#6
type(year)

pandas.core.series.Series

In [112]:
#7
plane_types = df[['manufacturer','model']]

In [113]:
#8
type(plane_types)
#two column so dataframe

pandas.core.frame.DataFrame

In [114]:
#9
plane_types.loc[105]

manufacturer      EMBRAER
model           EMB-145XR
Name: 105, dtype: object

In [115]:
#9
year.loc[105]

2004.0

In [116]:
#10
df1 = df.loc[df['manufacturer'] == 'BOEING']
df1.shape
#1630

(1630, 9)

In [117]:
df1.reset_index()
#indexes start from 1

,index,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,34,N11206,2000.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
1,49,N1200K,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
2,50,N1201P,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
3,51,N12109,1994.0,Fixed wing multi engine,BOEING,757-224,2,178,NaN,Turbo-jet
4,52,N12114,1995.0,Fixed wing multi engine,BOEING,757-224,2,178,NaN,Turbo-jet
...,...,...,...,...,...,...,...,...,...,...
1625,3311,N994AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
1626,3313,N995AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
1627,3315,N996AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
1628,3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
1629,3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan

In [118]:
#12
len(df.loc[df['seats'] <= 40])
#122 planes

122

In [138]:
#13
df['seats'].min()
#2 seats

2

In [139]:
#14
df1['seats'].min()
#100 seats

100

In [141]:
#15
df['seats_per_engine'] = df['seats']/df['engines']

In [140]:
#16
df['seats_per_engine'].mean()
#77.065

77.06499598635361

In [142]:
#17
df2 = df.loc[df['manufacturer'] == 'CESSNA']
df3 = df2.drop(['manufacturer'], axis=1)

In [143]:
#17
df3.to_csv('cessna_planes.csv')